:root{
    --main-color: #ff4c3b
}

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
}

ul {
    list-style-type: none;
}

body.dark{
    background-color: #2b2b2b;
    transition: all 0.3s ease;
    color: #cfd4da;
}

.dark .title{
    background-color: #232323;
    transition: all 0.3s ease;
}
.dark h2 ,
.dark a{
    color: #cfd4da;
}
.dark .location{
    color: #cfd4da;
}
.dark .billing_title h3{
    color: #cfd4da;
}
.dark .user_info_box span{
    color: #cfd4da;
}
.dark .select_lable {
    color: #cfd4da;
}

.dark .user_info_box input{
    background-color: #2b2b2b;
    transition: all 0.3s ease;
    border-color: #404040;
}
.dark .user_country {
    border-color: #404040;
    background-color: #2b2b2b;
    color: #cfd4da;
}
.dark .stripe_js_container,
.dark .paypal_container{
    background-color: #232323;
    border-color: #404040;
}
.dark .stripe_table td,
.dark .paypal_table td{
    border-color: #404040;
}
.dark .stripe_js_container h5,
.dark .paypal_container h5{
    color: #dee2e6;
}

.dark .order_container{
    background-color: #232323;
    transition: all 0.3s ease;
    border: 1px solid #404040;
}
.dark .odrer_title h2 {
    color: #cfd4da;
}
/* title */
.title {
    background-color: #f8f8f8;
    padding: 30px 0;
}

.title_box {
    max-width: 1400px;
    padding: 0 12px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title_h2 {
    color: #222222;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 0.32px;
}

.location a,
.location {
    text-transform: uppercase;
    color: #555555;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
}

.location a+span {
    margin-right: 5px;
    margin-left: 5px;
}

/* billing_details */

.billing_details {
    padding-bottom: 70px;
    padding-top: 70px;
}

.billing_container {
    max-width: 1400px;
    margin: 0 auto;
    padding-right: 12px;
    padding-left: 12px;
}

.billing_box {
    display: flex;
}

.billing_box_left ,
.billing_box_right {
    width: 50%;
}

.billing_title {
    margin-bottom: 25px;
}

.billing_title h3 {
    margin-bottom: 8px;
    color: #444444;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.72px;
}

.user_infos {
    display: flex;
    flex-wrap: wrap;
}

.user_info_box,
.user_info_selector{
    position: relative;
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 25px;
    width: 50%;
}

.user_info_box span ,
.select_lable{
    display: block;
    margin-bottom: 10px;
    color: #333333;
    font-size: 14px;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 24px;
}

.user_info_box input,
.user_country {
    width: 100%;
    outline: none;
    border: 1px solid #dddddd;
    padding: 0px 22px;
    height: 45px;
}

.warning_text,
.warning_firstname {
    color: rgb(220, 53, 69);
    font-size: 14px;
    line-height: 21px;
    opacity: 0;
}

.show{
    opacity: 1;
}

.larger_box {
    width: 100%;
}

.user_country {
    cursor: pointer;
    width: 100%;
    -webkit-appearance: none;
}

.stripe_js,
.paypal {
    text-transform: uppercase;
    padding-left: 12px;
    padding-right: 12px;
    width: 100%;
}

.stripe_js_container ,
.paypal_container {
    border: 1px solid #dddddd;
    background-color: #f9f9f9;
    padding: 15px;
}

.stripe_js_container h5,
.paypal_container h5{
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 24px;
    color: #222222;
    margin-bottom: 8px;
}

.stripe_content h5,
.paypal_content h5{
    font-size: 16px;
    letter-spacing: 0.8px;
    color: #4f4f4f;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 8px;
}

.stripe_table,
.paypal_table{
    width: 100%;
    border-collapse: collapse;
}

.stripe_table td,
.paypal_table td{
    border-bottom: 1px solid #eeeeee;
    padding-top: 10px;
    padding-bottom: 8px;
    color: #9a9a9a;
    font-size: 14px;
}

.stripe_table td:last-child,
.paypal_table td:last-child{
    text-align: right;
}

.paypal{
    margin-top: 25px;
}

.billing_box_right{
    padding-left: 12px;
}

.order_container{
    background-color: #f9f9f9;
    border: 1px solid #dddddd;
    position: relative;
    padding: 40px;
}

.odrer_title,
.product_detail{
    display: flex;
    justify-content: space-between;
    padding-bottom: 25px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ededed;
}

.odrer_title h2 {
    font-size: 22px;
    font-weight: 600;
    line-height: 33px;
    color: #444444;
}

.last_child{
    width: 35%;
}

.product_name{
    font-size: 15px;
    line-height: 20px;
    color: #444444;
}

.product_price{
    font-size: 18px;
    color: #232323;
    line-height: 20px;
    font-weight: 400;
}

.subtotal_box{
    text-transform: capitalize;
    border-bottom: 1px solid #ededed;
    margin-bottom: 30px;
}

.subtotal,
.shipping{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.total_title{
    font-weight: 600;
    line-height: 20px;
    font-size: 16px;
    color: #333333;
}

.total_price{
    font-size: 18px;
    line-height: 20px;
    color: var(--main-color) !important;
}

.shoping_option{
    width: 36.6%;
}

.shoping_option div{
    display: block;
    padding-left: 10px;
    margin-bottom: 8px;
    color: #6f6f6f;
    font-weight: 600;
    line-height: 32px;
}

.shoping_option div label,
.payment_radio div label{
    padding-left: 10px;
    cursor: pointer;

}


.total_box{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    text-transform: capitalize;
}

.total {
    color: #333333;
    font-size: 18px;
    line-height: 20px;
}

.payment_radio div {
    margin-bottom: 15px;
    color: #6f6f6f;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
}

.paypal_box{
    cursor: pointer;
}
.payment_img{
    margin-top: 5px;
}

.payment_btn_box{
    text-align: right;
}

.hidden_btn{
    display: none;
}

.payment_btn{
    padding: 13px 29px;
    background-image: linear-gradient(30deg, var(--main-color) 50%, transparent 50%);
    background-size: 850px;
    background-repeat: no-repeat;
    background-position: 0;
    transition: background 300ms ease-in-out;
    color: #ffffff;
    letter-spacing: 0.7px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 20px;
    font-family: 'Lato', sans-serif;
    border: 2px solid var(--main-color);
    cursor: pointer;
}

.able:hover {
    background-position: 100%;
    color: #000000;
    background-color: #ffffff;
}

.disable{
    opacity: 0.6;
    cursor: auto;
}

