:root {
    --main-color: #ff4c3b
}

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
}

ul {
    list-style-type: none;
}


/* title */
.title {
    background-color: #f8f8f8;
    padding: 30px 0;
}

.title_box {
    max-width: 1400px;
    padding: 0 12px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title_h2 {
    color: #222222;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 0.32px;
}

.location a,
.location {
    text-transform: uppercase;
    color: #555555;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
}

.location a+span {
    margin-right: 5px;
    margin-left: 5px;
}

/* collection_container */

.collection_container {
    padding-top: 70px;
    padding-bottom: 70px;
}

.collection_box {
    max-width: 1400px;
    margin: 0 auto;
    padding-left: 12px;
    padding-right: 12px;
    display: flex;
}

/* collection_box_left */

.collection_box_left {
    width: 25%;
    padding-right: 12px;
}

.collection_left_top,
.collection_left_center {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    padding: 0px 30px;
    margin-bottom: 30px;
}

.category_title{
    margin-bottom: 24px;
}

.category_title,
.brand_title,
.colors_title,
.price_title {
    color: #444444;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    margin-top: 30px;
    letter-spacing: 0.42px;
}


.category_title::after,
.brand_title::after,
.colors_title::after,
.price_title::after {
    content: "\f0d7";
    font-family: FontAwesome;
    color: #444444;
    position: absolute;
    right: -3px;
    top: 0;
}

.category_list,
.brand_name,
.color_box {
    max-height: 0;
    overflow: hidden;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.category_item .open,
.colors_filter .open{
    margin-bottom: 24px;
    margin-top: 30px;
    overflow-y: auto;
}

.category_item .open, 
.brand_filter .open,
.colors_filter .open{
    max-height: 170px;
    overflow-x: hidden;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.brand_filter .open,
.colors_filter .open {
    margin-top: 30px;
}

.category_list a {
    color: #777777;
    text-transform: capitalize;
    padding-bottom: 10px;
    font-size: 16px;
    line-height: 18px;
    display: block;
}

.open::-webkit-scrollbar {
    background-color: #F5F5F5;
    width: 5px;
}

.open::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-image: -webkit-gradient(linear, left bottom, left top,
            color-stop(0.62, var(--main-color)),
            color-stop(0.86, var(--main-color)));
}

.brand,
.colors{
    padding-bottom: 24px;
}

.collection_item {
    display: flex;
    align-items: center;
    margin-bottom: 14px;
    cursor: pointer;
}

.collection_item label {
    color: #777777;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    margin-left: 15px;
    letter-spacing: 0.5px;
    cursor: pointer;
}

.collection_item input{
    cursor: pointer;
}

.silver{
    background-color: silver;
}

.color_item{
    width: 14px;
    height: 14px;
    border-radius: 100%;
    border: 1px solid #eee;
    position: relative;
    top: 0;
    left: 0;
    margin-left: 10px;
}

.color_item + label{
    margin-left: 8px;
}

.range-slider{
    margin-top: 56px;
    margin-bottom: 40px;
}



.range-slider {
    position: relative;
    display: flex;
	align-items: center;
    width: 94%;
	height: 100%;
}

.range-slider > div {
    position: absolute;
    display: flex;
	align-items: center;
	left: 13px;
	right: 15px;
	height: 16px;
}

.range-slider > div > .range-slider-val-left, 
.range-slider > div > .range-slider-val-right, 
.range-slider > div > .range-slider-val-range {
    height: 4px;
}

.range-slider > div > .range-slider-val-left {
	position: absolute;
	left: -11px;
	border-radius: 10px;
	background-color: #d8e0f3;
	margin: 0 7px;
}

.range-slider > div > .range-slider-val-right {
	position: absolute;
	right: 0;
    margin: 0 7px;
    border-radius: 10px;
	background-color: #d8e0f3;
}

.range-slider > div > .range-slider-val-range {
    position: absolute;
    left: 0;
    top: 5px;
    height: 4px;
	border-radius: 14px;
	background-color: #ff4c3b;
}

.range-slider > div > .range-slider-handle {
    z-index: 1;
    position: absolute;
	top: -5px;
    margin-left: -11px;
    width: 22px;
    height: 22px;
    border-radius: 100%;
    background-color: #ff4c3b;
    text-align: left;
    outline: none;
    cursor: pointer;
}

.range-slider > div > .range-slider-handle::after{
    content: "";
    width: 8px;
    height: 8px;
    border-radius:4px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

div.range-slider > input[type="range"]::-ms-thumb {
	width: 24px;
    height: 24px;
    border: 0 none;
    border-radius: 0px;
    background: red;
    
    pointer-events: all;
	
}

div.range-slider > input[type="range"]::-moz-range-thumb {
	width: 24px;
    height: 24px;
    border: 0 none;
    border-radius: 0px;
    background: red;
    
    pointer-events: all;
}

div.range-slider > input[type="range"]::-webkit-slider-thumb {
	width: 24px;
    height: 24px;
    border: 0 none;
    border-radius: 0px;
    background: red;
    
    pointer-events: all;
	-webkit-appearance: none;
}

div.range-slider > input[type="range"]::-ms-fill-lower {
	background: transparent;
	border: 0 none;
}

div.range-slider > input[type="range"]::-ms-fill-upper {
	background: transparent;
	border: 0 none;
}

.range-slider > input[type="range"] {
    z-index: 1;
    position: absolute;
	width: 100%;
	height: 16px;
	
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer;
    pointer-events: none;
	-webkit-appearance: none;
}

div.range-slider > input[type="range"]::-ms-track {
	background: transparent;
    color: transparent;
    
    -webkit-appearance: none;
}

div.range-slider > input[type="range"]::-moz-range-track {
	background: transparent;
    color: transparent;
    
    -moz-appearance: none;
}

div.range-slider > input[type="range"]:focus::-webkit-slider-runnable-track {
	background: transparent;
	border: transparent;
}

div.range-slider > input[type="range"]:focus {
	outline: none;
}

div.range-slider > input[type="range"]::-ms-tooltip {
	display: none;
}

.range-slider > div > .range-slider-tooltip {
    z-index: 2;
	position: absolute;
	top: -29px;
    margin-left: -7px;
	color: #55637d;
	text-align: center;
}

.range-slider > div > .range-slider-tooltip > span {
	font-size: 16px;
}

.text{
    position: relative;
}

.left_text,
.right_text{
    position: absolute;
    top: -29px;
    color: #55637d;
    opacity: 0;
}

.left_text{
    left: -1px;
}

.right_text{
    right: -12px;
}

.show_text{
    opacity: 1;
}

.price_box{
    max-height: 0;
    overflow-y: hidden;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}


.price_filter .open{
    max-height: 170px;
    overflow-x: hidden;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.price_title{
    margin-bottom: 24px;
}

.new_product_head{
    display: flex;
    position: relative;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #dddddd;
    margin-bottom: 6px;
}

.new_product_head i {
    position: absolute;
    color: #222222;
    opacity: 0.6;
    font-size: 24px;
    cursor: pointer;
}
.new_angle_left{
    right: 32px;
}
.new_angle_right{
    right: 10px;
}

.new_product_title{
    color:#222222;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.8px;
}

.new_product_content{
    display: flex;
}

.new_product_img{
    height: 160px;
    width: 100%;
    padding: 15px 15px 15px 0;
}

.new_product_content div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.new_product_name{
    color: #777777;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.new_product_price{
    font-size: 18px;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 1;
    letter-spacing: 0.54px;
    cursor: context-menu;
}

.new_product_price del{
    font-weight: 400;
    color: #aaaaaa;
    font-size: 14px;
}

.collection_left_banner{
    margin-top: 30px;
}

.collection_left_banner img {
    width: 100%;
    height: auto;
}

/* collection_box_right */

.collection_box_right{
    width: 75%;
    padding-left: 12px;
}

.collection_right_banner img{
    width: 100%;
}

.collection_right_content{
    padding-top: 30px;
    padding-bottom: 35px;
}

.collection_right_content h4{
    color: #444444;
    font-weight: 600;
    font-size: 18px;
    text-transform: capitalize;
    line-height: 1;
    letter-spacing: 0.54px;
    margin-bottom: 15px;
}

.collection_right_content h5{
    color: #444444;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 1.2;
    margin-bottom: 10px;
    font-size: 16px;
}

.collection_right_content p{
    color: #777777;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.42px;
}

.collection_view svg{

}

.product_container{
}

.product_container_header{
    border-bottom: 1px solid #dddddd;
    border-top: 1px solid #dddddd;
    display: flex;
    padding-left: 12px;
    padding-right: 12px;
    justify-content: space-between;
}

.product_count_text{
    text-transform: capitalize;
    width: 35%;
    padding: 20px;
    border-right: 1px solid #dddddd;
}

.product_count_text h5{
    font-size: 16px;
    font-weight: 400;
    color: #222222;
    line-height: 24px;
    letter-spacing: 0.8px;
}

.collection_view{
    width: 10%;
    padding: 20px;
    cursor: pointer;
    align-self: center;
}

.collection_view svg {
    margin-right: 5px;
    padding-top: 0.9px;
}

.collection_grid_view{
    padding: 20px;
    border-right: 1px solid #dddddd;
    width: 20%;
}

.collection_grid_view ul{
    display: flex;
}

.collection_grid_view ul li {
    margin-left: 10px;
}

.collection_grid_view ul li img{
    cursor: pointer;
    height: 18px;
    vertical-align: middle;
}

.product_filter{
    width: 15%;
    position: relative;
}

.product_filter select {
    padding-top: 24px;
    padding-bottom: 20px;
    cursor: pointer;
    width: 100%;
    -webkit-appearance: none;
    border: none;
    outline: none;
}


/* product_list */

.product_list {
    display: flex;
    flex-wrap: wrap;
}

.product_item {
    padding-left: 12px;
    padding-right: 12px;
    margin-top: 50px;
    position: relative;
}

.row2_product{
    width: 50%;
}
.row3_product{
    width: 33.33333333%;
}
.row4_product{
    width: 25%;
}
.row5_product{
    width: 16.66666667%;
}

.new_sapn{
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    background-color: var(--main-color);
    color: #fff;
    border-radius: 100%;
    padding: 11px 4px;
    position: absolute;
    top: 7px;
    left: 7px;
    text-align: center;
}

.product_on_sale{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1.4px;
    color: #212529;
    position: absolute;
    top: 7px;
    right: 7px;
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
}


.product_img_box{
    position: relative;
    overflow: hidden;
}

.product_img {
    max-width: 100%;
    height: auto;
}

.product_icons {
    text-align: left;
    bottom: 0;
    left: unset;
    position: absolute;
    right: -10px;
    margin: 0 auto;
    display: inline-block;
    opacity: 0;
    transition: all 0.5s ease;
}

.product_icons_link {
    transition: 0.5s ease;
    text-decoration: none;
    position: relative;
}

.shopping {
    padding: 10px;
    display: block;
    color: #6f6f6f;
    font-size: 18px;
    transition: all 0.5s ease;
    position: relative;
}

.shopping:hover {
    color: var(--main-color);
    transition: all 0.5s ease;
}

.product_item_box:hover .product_icons {
    opacity: 1;
    transition: all 0.5s ease;
    right: 0px;
    animation: icons;

    .heart {
        animation: icons 500ms ease-in-out;
    }

    .magnifying {
        animation: icons 700ms ease-in-out;
    }

    .refresh {
        animation: icons 1000ms ease-in-out;
    }
}

.product_box_list:hover .product_icons {
    opacity: 1;
    transition: all 0.5s ease;
    right: 0px;
    animation: icons;

    .heart {
        animation: icons 500ms ease-in-out;
    }

    .magnifying {
        animation: icons 700ms ease-in-out;
    }

    .refresh {
        animation: icons 1000ms ease-in-out;
    }
}

@keyframes icons {
    from {
        right: -20px;
    }

    to {
        right: 0px;
    }
}


.product_detail{
    display: block;
}

.stars {
    display: flex;
    font-size: 18px;
    color: #edb867;
}

.product_name{
    color: #777777;
    font-size: 16px;
    margin-bottom: 3px;
    padding-bottom: 5px;
    font-weight: 400;
    line-height: 1;
}

.product_discounted_price{
    color: #222222;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.54px;
    line-height: 1;
}

.product_price{
    color: #aaa;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.54px;
    line-height: 1;
}

.product_color_list{
    padding-top: 12px;
    padding-left: 0;
}

.product_color{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    display: inline-block;
    cursor: pointer;
    margin-right: 5px;
}

.silver {
    background-color: silver;
}

.sienna {
    background-color: sienna;
}

.navy {
    background-color: navy;
}

.bisque {
    background-color: bisque;
}

.chocolate {
    background-color: chocolate;
}

.steelblue {
    background-color: steelblue;
}

.wheat {
    background-color: wheat;
}

.palegoldenrod {
    background-color: palegoldenrod;
}

.dimgrey{
    background-color: dimgrey;
}

.black{
    background-color: black;
}

/* product_container_footer */

.product_container_footer{
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
}

.product_page_handler {
    width: 50%;
}

.product_page_handler ul{
    display: flex;
    align-items: center;
}

.product_page_handler ul li {
    height: 60px;
    line-height: 60px;
    border-left: 1px solid #dddddd;
}

.product_page_handler ul li:last-child{
    border-right: 1px solid #dddddd;
}

.product_page_handler ul li a{
    padding: 18px;
    color: #777777;
}

.product_page_handler ul li.active a{
    color: var(--main-color) !important;
}

.product_footer_text{
    padding-left: 12px;
    padding-right: 12px;
    width: 50%;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
}

.product_footer_h5{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

.product_footer_h5 h5{
    color: #777777;
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.7px;
}

/* product_box_list */

.product_view_list{
    position: relative;
}

.product_box_list{
    margin-top: 50px;
    display: flex;
}

.product_img_box_list{
    width: 25%;
    position: relative;
}

.product_img_box_list img{
    max-width: 100%;
    height: auto;
}
.product_detail_list{
    padding-left: 15px;
    width: 75%;
    text-align: left;
    align-self: center;
}

.product_name_list{
    color: #777777;
    font-weight: 600;
    line-height: 1;
    text-transform: capitalize;
    font-size: 16px;
    margin-bottom: 3px;
    padding-bottom: 5px;
}

.product_name_text{
    color: #777777;
    font-size: 14px;
    letter-spacing: 0.42px;
    line-height: 18px;
    margin-bottom: 10px;
}

.price_list{
    display: flex;
    flex-direction: column;
}

.price_list del {
    margin-top: 5px;
}

.hidden_icons{
    display: none;
}

.disable_prev{
    pointer-events: none;
    background-color: #dee2e6;
}

