:root{
    --main-color: #ff4c3b
}

.dark{
    background-color: #2b2b2b;
    color: #cfd4da;
    transition: all 0.3s ease;
}
.dark .header_top {
    color: #cfd4da;
}
.dark .header_top_container{
    background-color: #232323;
    transition: all 0.3s ease;
}
.dark .header_bottom{
    background-color: #2b2b2b;
    box-shadow: none;
}

.dark a{
    color: #cfd4da;
}
.dark .header_bottom_right_icon img{
    filter: brightness(100);
}
.dark .brand_img img{
    filter: invert(100);
}

.dark .footer_container{
    background-color: #232323;
    transition: all 0.3s ease;
}
.dark .footer_top,
.dark .footer_top_left{
    border-color: #404040;
}
.dark .footer_input{
    color: #cfd4da;
    background-color: #2b2b2b;
    transition: all 0.3s ease;
    border: 1px solid #404040;
}
.dark .dark_light_btn{
    background-color: #000000;
    box-shadow: none;
}

.dark .submenu{
    background-color: #2b2b2b;
    box-shadow: none;
}

.dark .item_hover{
    background-color: #232323;
    transition: all 0.3s ease;
    box-shadow: none;
}
.dark .sidebar_menu{
    background-color: #232323;
    transition: all 0.3s ease;
}

.dark .back_btn{
    color: #f1f3f5;
}

.dark .sidebar_submenu {
    background-color: #232323;
    box-shadow: none;
}

.dark .sidebar_submenu h5,
.dark .sidebar_submenu a{
    color: #cfd4da;
}
.dark .cart_message{
    color: #cfd4da;
}
.dark p {
    color: #cfd4da;
}
.dark .footer_bootom_item_left{
    color: #cfd4da;
}
/* loader */
.loader{
    display: block;
    z-index: 1000;
}

.line_loader{
    position: absolute;
    right: 0;
    left: 0;
    height: 4px;
    background-color: var(--main-color);
    margin-bottom: 5px;
}

.circle_loader{
    position: absolute;
    border: 2px solid #fff;
    border-top: 2px solid var(--main-color);
    border-bottom: 2px solid var(--main-color);
    border-left: 2px solid var(--main-color);
    border-radius: 100%;
    width: 14px;
    height: 14px;
    animation: load 2s linear infinite;
    margin-left: 5px;
    top: 8px;
}

@keyframes load {
    0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* top button */
.top_btn{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: var(--main-color);
    color: #fff;
    position: fixed;
    bottom: 50px;
    right: 30px;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    z-index: 99;
    padding: 14px;
    display: none;
}


.header_top_container {
    background-color: #f8f8f8;

}

.header_top {
    max-width: 1400px;
    color: rgb(153, 153, 153);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    margin: 0 auto;
    padding-left: 12px;
    padding-right: 12px;
}

.welcome,
.call {
    padding-right: 25px;
}


.header_top_left_contents {
    display: flex;
}

.header_list_item {
    padding: 17px 13px;
    position: relative;
}

.header_list_item:last-child{
    padding-right: 0;
}

.header_top_link {
    text-decoration: none;
    color: rgb(153, 153, 153);
    transition: all 0.5s ease 0s;
}

.compare:hover,
.wishlist:hover {
    color: var(--main-color);
}

.header_top_right_contents {
    display: flex;
}

.my_account_hov {
    top: 50px;
    right: 0;
}

.item_hover {
    min-width: 160px;
    padding: 15px 20px;
    background-color: #fff;
    position: absolute;
    transform: translateY(30px);
    transition: all linear 0.3s;
    z-index: 10;
    text-align: left;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0 0 1px #ccc;
}

.login_hover,
.Logout_hover {
    padding-bottom: 8px;
    font-size: 15px;
}

.login_hover:hover a,
.Logout_hover:hover a {
    color: var(--main-color);
    transition: 0.5s ease;
}

.header_list_item:hover .item_hover,
.icon_item:hover .item_hover {
    opacity: 1;
    transform: translateY(0px);
    visibility: visible;
}

.header_list_item:hover .my_account_link i {
    color: var(--main-color);
}

.call::before {
    content: "\f095";
    font: var(--fa-font-solid);
    padding-right: 10px;
    font-size: 12px;
    color: var(--main-color);
}

.my_account::after {
    content: "\f107";
    font: var(--fa-font-solid);
    font-size: 10px;
    margin-left: 9px;
}

.header_top_link i {
    padding-right: 5px;
}

/* navbar */

.open .sidebar_menu{
    transition: all 0.5s ease; 
    left: 0;
} 

.open .sidebar_open {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.8;
    background-color: #212331;
    z-index: 8;
    width: 100%;
    height: 100%;
    transition: all 1s;
}

.sidebar_menu {
    position: relative;
    top: 0;
    left: -300px;
    background-color: #fff;
    height: 100vh;
    z-index: 9000;
    width: 300px;
    position: fixed;
    transition: all 0.5s ease;
    overflow-y: auto;
}

.sidebar_unset{
    overflow-y: unset;
}

.sidebar_list {
    display: flex;
    flex-direction: column;
}

.back_btn {
    border-bottom: 1px solid #efefef;
    padding: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    color: #222222;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
}

.back_btn i {
    padding-right: 8px;
}

.sidebar_submenu_list {
    visibility: hidden;
    opacity: 0;
}

.sidebar_list_hov:hover .sidebar_submenu_list {
    visibility: visible;
    opacity: 1;
}

.sidebar_list li {
    position: relative;
    display: block;

}

.sidebar_link {
    padding: 10px 50px 20px 40px;
    color: #222222;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    position: relative;
    display: block;
}

.sidebar_link i {
    position: absolute;
    top: 66%;
    left: auto;
    right: 16px;
    margin-top: -22px;
}

.sidebar_submenu {
    width: 815px;
    position: absolute;
    left: 100%;
    top: -60px;
    background-color: #fff;
    box-shadow: 0 0 1px 0 #ebebeb;
    padding: 15px 30px 25px;
}

.submenu_flex {
    display: flex;
}

.sidebar_sub_submenu {
    padding: 12px 0;
    opacity: 0;
    visibility: hidden;
    top: 0;
}

.sub_submenu_hover:hover .sidebar_sub_submenu {
    opacity: 1;
    visibility: visible;
}

.sub1,
.sub2 {
    visibility: hidden;
    top: 0;
}

.sub1_hover:hover .sub1 ,
.sub2_hover:hover .sub2 {
    visibility: visible;
    top: 0;
}

.sidebar_submenu h5 {
    color: #222222;
    font-weight: 700;
    line-height: 24px;
    margin-top: 15px;
    margin-bottom: 8px;
    text-transform: capitalize;
    font-size: 14px;
}

.sidebar_submenu a {
    position: relative;
    font-size: 14px;
    font-weight: 400;
    color: #222222;
    display: block;
    padding: 5px 0;
    text-transform: capitalize;
}

.sidebar_submenu_item_clothing {
    width: 33%;
}

.submenu_small {
    width: 200px;
    padding: 12px 0;
}

.submenu_small a {
    padding: 5px 35px;
}

/* header bottom*/

.header_bottom {
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    background-color: #fff;
    position: relative;
}

.sticky{
    width: 100%;
    z-index: 1;
    transition: all 300ms ease;
    position: fixed;
    top: 0;
    box-shadow: 0px 0px 8px #ddd;
}

.header_bottom_left {
    display: flex;
}

.sidebar-bar {
    font-size: 24px;
    cursor: pointer;
    padding: 40px 45px 40px 0;
}

.logo {
    padding: 35px 0;
}

.header_bottom_right {
    display: flex;
}


.navbar_list {
    display: flex;
}

.new {
    background-color: var(--main-color);
    color: #fff;
    position: absolute;
    top: 20px;
    font-size: 9px;
    line-height: 11px;
    padding: 2px 7px;
}

.new::before {
    content: "";
    position: absolute;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid var(--main-color);
    top: 15px;
    left: 5px;
}

.navbar_item {
    display: block;
    padding: 42px 0;
    color: #222222;
    font-weight: 400;
    line-height: 23px;
    text-transform: uppercase;
    letter-spacing: 0.07em;
    cursor: pointer;
    position: relative;
}

.navbar_item_link {
    padding: 42px 45px 42px 0;
    position: relative;
}

.submenu {
    position: absolute;
    padding: 15px 0;
    width: 200px;
    z-index: 4;
    background-color: #fff;
}


.arrow {
    position: absolute;
    top: 73px;
    left: auto;
    width: 46px;
    height: 34px;
    margin-top: -26px;
    margin-left: -10px;
    text-align: center;
    font-size: 13px;
}

.arrow::before {
    content: "\f107";
    font: var(--fa-font-solid);
    position: absolute;
}

.header_bottom_dropdwon,
.sub_submenu {
    opacity: 0;
    visibility: hidden;
    text-transform: none;
    box-shadow: 0 0 1px #ccc;
    padding: 15px 0;
    top: 61px;
}

.navbar_item:hover .header_bottom_dropdwon {
    opacity: 1;
    visibility: visible;
    margin-top: 45px;
    z-index: 90;
}

.list_hov_item {
    position: relative;
    font-size: 14px;
}

.list_hov_link {
    text-decoration: none;
    color: #222222;
    font-size: 14px;
    font-weight: 400;
    line-height: 2.3;
    padding: 5px 35px;
}

.list_hov_link::before {
    content: "";
    position: absolute;
    bottom: 0;
    background-color: var(--main-color);
    transition: 0.5s ease;
    height: 2px;
    width: 0;
    top: 31px;
}

.list_hov_link:hover::before {
    width: 50px;
}

.angle_right {
    position: absolute;
    top: 50%;
    margin-top: -17px;
    left: auto;
    right: 15px;
    text-align: center;
}

.sub_submenu {
    position: absolute;
    right: -200px;
    top: -40px;
    opacity: 0;
    visibility: hidden;
}

.submenu_item_hov:hover .sub_submenu {
    opacity: 1;
    visibility: visible;
}

.new_elem {
    color: var(--main-color);
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
}

.submenu_title {
    padding: 8px 35px;
    cursor: auto;
    font-size: 14px;
    font-weight: 700;
}

.features {
    position: unset;
    max-width: 1400px;
}

.features_container {
    position: absolute;
    left: 0;
    z-index: 4;
    box-shadow: 0 0 1px 0 #ebebeb;
    padding-left: 30px;
    background: white;
    width: 100%;
    display: block;
}

.features_col .submenu {
    width: 280px;
    box-shadow: none;
    height: 288px;
}


.features_box {
    max-width: 1400px;
    display: flex;
    flex-wrap: wrap;
}

.features_col {
    width: 20%;
}

.features_col .header_bottom_dropdwon {
    top: -3px;
    margin-bottom: 30px;
}

.icon_list {
    display: flex;
}

.icon_img {
    cursor: pointer;
}

.setting {
    right: 40px;
    left: unset;
    top: 100px;
    z-index: 9;
}

.icon_item {
    padding: 40px 0 40px 20px;
}

.currency_link,
.language_link {
    display: flex;
    padding: 5px 0 0 17px;
}

.currency_link,
.language_link,
a {
    text-decoration: none;
    color: #222222;
}

.counter {
    color: #fff;
    background-color: var(--main-color);
    width: 20px;
    height: 20px;
    font-size: 12px;
    font-weight: 600;
    position: absolute;
    top: 20%;
    right: 31px;
    border-radius: 100%;
    text-align: center;
    line-height: 20px;
}

.cart_message {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.8px;
    font-weight: 400;
    color: #222222;
}

/* footer */
.footer {
    position: relative;
}

.footer_container {

    background-color: #F9F9F9;
}

.footer_top {
    max-width: 1400px;
    padding: 35px 12px;
    margin: 0 auto;
    border-bottom: 1px solid #dddddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_top_left {
    height: 100%;
    width: 50%;
    border-right: 1px solid #dddddd;
}

.footer_top_title {
    color: #222222;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
    letter-spacing: 0.54px;
}

.footer_top_text {
    color: #777777;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.42px;
}

.footer_input {
    width: 345px;
    height: 50px;
    padding: 13px;
    margin: 0 16px;
    border: 1px solid #eeeeee;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    outline: none;
}

.footer_btn {
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    background-image: linear-gradient(30deg, var(--main-color) 50%,
            transparent 50%) !important;
    border: 2px solid var(--main-color);
    padding: 13px 29px;
    background-size: 850px;
    background-repeat: no-repeat;
    background-position: 0;
    transition: all 300ms ease-in-out;
    margin-top: 20px;
    font-weight: 700;
    cursor: pointer;
    line-height: 20px;
    letter-spacing: 0.7px;
    font-family: 'Lato'
}

.footer_btn:hover {
    color: #222222;
    background-color: #fff;
    background-position: 100%;
}

.footer_bottom {
    max-width: 1400px;
    padding: 70px 12px;
    margin: 0 auto;
    display: flex;
}

.footer_bottom_container {
    padding: 0px 12px;
}

.footer_bottom_left {
    width: 33%;
}

.footer_bottom_logo {
    margin-bottom: 18px;
}

.footer_bottom_text {
    color: #777777;
    font-size: 14px;
    letter-spacing: 0.42px;
    line-height: 32px;
}

.footer_bottom_icon {
    margin-top: 40px;
}

.footer_bottom_icon_list {
    display: flex;
    align-items: center;
}

.footer_bottom_icon_item {
    padding-right: 45px;
}

.footer_bottom_i {
    color: #000000;
    font-size: 20px;
    transition: 0.5s ease;
}

.footer_bottom_i:hover {
    color: var(--main-color);
    transition: 0.5s ease;
}

.footer_bottom_center {
    padding-right: 12px;
    padding-left: 12px;
    width: 22%;
}

.footer_margin {
    margin-left: 8.33333333%;

}

.footer_bottom_center_title {
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
    letter-spacing: 0.54px;
    margin-bottom: 25px;
}

.footer_bottom_center_h4 {
    color: #222222;
}

.footer_bottom_center_item {
    padding-top: 13px;
    font-size: 14px;
    line-height: 21px;
    text-transform: capitalize;
    color: #777777;
    line-height: 28px;
}

.footer_bottom_center_link {
    color: #777777;
    padding: 0;
    position: relative;
}

.footer_hov_link::before {
    content: "";
    position: absolute;
    bottom: 0;
    background-color: var(--main-color);
    transition: 0.5s ease;
    height: 2px;
    width: 0;
    top: 20px;
}

.footer_hov_link:hover::before {
    width: 100%;
}

.footer_bootom_item_left {
    padding-left: 25px;
    padding-top: 13px;
    position: relative;
}

.footer_bootom_item_left:hover {
    color: #999999;
    transition: all 0.3s ease;
}

.footer_bottom_center_i {
    position: absolute;
    left: 0;
    top: 21px;
}

.sub_footer {
    max-width: 1400px;
    padding-right: 12px;
    padding-left: 12px;
    margin: 0 auto;
}

.sub_footer_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sub_footer_text {
    color: #777777;
    padding: 20px 0;
    font-size: 14px;
    line-height: 32px;
    letter-spacing: 0.42px;
}

.sub_footer_icon_list {
    display: flex;
}

.sub_footer_icon {
    padding-left: 7px;
    padding-right: 7px;
}


/* setting_btn */

.setting_btn{
    position: fixed;
    top: 50%;
    right: 0;
    z-index: 6;
    background-color: #f7f7f7;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: 0px 0px 5px 0px rgba(154, 154, 154, 0.54);;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-50%);
    transition: all 0.5s ease;
    cursor: pointer;
}  
 

.setting_btn_icon{
    margin-left: 10px;
    width: 20px;
    height: 20px;
    color: #3c3c3c;
    animation: setting_rotate 3s infinite linear;
}

@keyframes setting_rotate {
    0%{
       transform: rotate(0deg); 
    }
    100%{
        transform: rotate(360deg);
    }
}

.dark_light_btn{
    position: fixed;
    top: calc(50% + 52px);;
    right: 0;
    z-index: 6;
    background-color: #f7f7f7;
    width: 40px;
    height: 38px;
    border-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: 0px 0px 5px 0px rgba(154, 154, 154, 0.54);;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-50%);
    transition: all 0.5s ease;
    cursor: pointer;
    font-size: 14px;
}


/* setting box */

.setting_box {
    position: fixed;
    right: -360px;
    top: 0;
    width: 350px;
    height: 100vh;
    background-color: #ffffff;
    z-index: 999;
    box-shadow: 0 15px 5px 0 rgba(77, 77, 77, 0.28);
    transition: all 0.5s ease;
    overflow-y: auto;
}

.setting_box.active{
    transition: all 0.5s ease; 
    right: 0px;
}

.setting_wrapper::-webkit-scrollbar{
    width: 3px;
    height: 7px;
}

.setting_wrapper::-webkit-scrollbar-thumb{
    background: #888888;
}

.setting_wrapper::-webkit-scrollbar-track{
    background: #dddddd;
}

.setting_box_container {
    position: relative;
    background-color: #ffffff;
    height: 100vh;
    z-index: 9999;
}

.setting_back_btn {
    padding: 20px;
    cursor: pointer;
    color: #222222;
    text-transform: uppercase;
    background-color: #f3f3f3;
    box-shadow: inset 0px 0px 6px rgba(115, 115, 115, 0.09);
    font-size: 18px;
    font-weight: 700;
}

.setting_back_btn i {
    font-size: 13px;
    margin-right: 7px;
}

.setting_box_title {
    border-bottom: 1px solid #efefef;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.setting_box_title h4 {
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.54px;
    line-height: 1;
}

.setting_box_title i {
    font-size: 14px;
}

.setting_wrapper {
    padding: 0px;
    max-height: 0px;
    overflow: hidden;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #efefef;
}

.setting_wrapper.open {
    padding: 20px;
    overflow-y: scroll;
    max-height: 500px;
}

.setting_item {
    width: 50%;
    margin-bottom: 30px;
    padding-right: 24px;
}

.setting_wrapper:nth-child(odd){
    padding-right: 0px;
}

.setting_img {
    width: 100%;
    height: 110px;
    transition: all 2s ease-out 0s;
    box-shadow: -1px 2px 5px 1px #ececec;
}

.setting_item div h4 {
    text-transform: capitalize;
    color: #000000;
    margin-top: 10px;
    font-weight: 400;
    letter-spacing: 0.48;
    line-height: 1;
}

.setting_box_btn {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.setting_box_btn a {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 30px;
    width: 90px;
    padding: 5px 10px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    color: var(--main-color);
    transition: 0.3s ease-in-out;
    line-height: 20px;
}

.setting_box_btn:hover a {
    color: #ffffff;
    background-color: var(--main-color);
}

.color_picker input{
    width: 34px;
    height: 38px;
    margin-right: 5px;
    border: none;
    box-shadow: none;
    background-color: transparent;
}

.color_picker span{
    padding-top: 9px;
    text-transform: capitalize;
}

.rtl div{
    width: 49%;
    padding-right: 12px;
}

.rtl div a{
    background-color: var(--main-color);
    width: 100%;
    color: #ffffff;
    display: block;
    line-height: 20px;
    font-size: 14px;
    font-weight: 700;
    padding: 6px 12px;
    text-align: center;
}

.setting_box_bottom{
    padding: 20px;
}

.setting_box_bottom a{
    padding: 10px;
    display: block;
    color: #3c3c3c;
    background-color: #f3f3f3;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 20px;
}

.setting_box_bottom a i {
    margin-right: 5px;
}

.setting_box_bottom a img{
    filter: grayscale(100%);
    vertical-align: middle;
}

.active .clode_setting_box{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 8;
    transition: all 1s;
}