:root{
    --main-color: #ff4c3b
}

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
}

.dark .category_product_box {
    border-color: #404040;
}
.dark .category_title{
    color: #e7eaec;
}
.dark .trending_products_part1 {
    background-color: #232323;
    transition: all 0.3s ease;
}
.dark h2 {
    color: #f1f3f5;
}
.dark .trending_icons_part2,
.dark .special_icons{
    background-color: #2b2b2b;
    transition: all 0.3s ease;
    box-shadow: none;
}
.dark .recent_story{
    background-color: #404040;
    transition: all 0.3s ease;
}
.dark h4{
    color: #e7eaec;
}
.dark p {
    color: #cfd4da;
}
.dark .service_container ,
.dark .service_container div {
    border-color: #404040;
}

ul {
    list-style-type: none;
}

/* slider */

.slider {
    
    width: 100%;
    height: 75vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    padding: 35px;
    position: relative;
}
.slider_bgi1{
    background-image: url(../images/9.jpg);
}
.slider_bgi2{
    background-image: url(../images/10.jpg);
}

.slider_effect{
    animation-name: slider_effect;
    animation-duration: 1.5s;
}

@keyframes slider_effect {
    from{left: 0;}
    to{left: 100px;}
}

.slider_contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slider_subtitile,
.slider_title,
.slider_btn {
    text-align: center;

    font-weight: 700;
}

.slider_subtitile {
    color: #777777;
    letter-spacing: 7px;
    font-size: 18px;
}

.slider_title {
    color: #222222;
    font-size: 60px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin-top: 10px;
}

.slider_btn,
.footer_btn {
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    background-image: linear-gradient(30deg, var(--main-color) 50%,
            transparent 50%) !important;
    border: 2px solid var(--main-color);
    padding: 13px 29px;
    background-size: 850px;
    background-repeat: no-repeat;
    background-position: 0;
    transition: all 300ms ease-in-out;
    margin-top: 20px;
    font-weight: 700;
    cursor: pointer;
    line-height: 20px;
    letter-spacing: 0.7px;
    font-family: 'Lato'
}

.slider_btn:hover,
.footer_btn:hover {
    color: #222222;
    background-color: #fff;
    background-position: 100%;
}

.arrow_left,
.arrow_right{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    top: 50%;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    margin-top: -10px;
    opacity: 0;
    transform: scale(1);
    transition: all 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    padding: 4px 7px;
    margin: 5px;
    cursor: pointer;
}

.arrow_right{
    right: 1px;
}

.arrow_left{
    left: 1px;
}

.arrow_left i,
.arrow_right i{
    color: #212529;
    font-size: 8px;
}

.slider:hover .arrow_left{
    left: 100px;
}

.slider:hover .arrow_right{
    right: 100px;
}

.slider:hover .arrow_left,
.slider:hover .arrow_right{
    opacity: 1;
    transform: scale(2.5);
    transition: all 0.5s ease;
}

/* brans */

.brands {
    display: flex;
    padding: 15px;
}

.brand_img {
    margin: 0 auto;
    padding-top: 70px;
    filter: grayscale(100%);
    opacity: 0.5;
    transition: 0.5s ease;
    cursor: pointer;
}

.brand_img:hover {
    filter: grayscale(0);
    opacity: 1;
}

/* discount */
.offer {
    max-width: 1400px;
    padding: 0 12px;
    margin: 0 28px;
    padding-top: 70px;
}

.offer_container {
    background-image: url(../images/offer-banner-2.jpg);
    background-size: cover;
    height: 126px;
    display: flex;
}

.offer_title_box {
    width: 50%;
}

.offer_title {
    padding: 45px 0;
    text-align: center;
    color: #222222;
    font-size: 36px;
    text-transform: uppercase;
    letter-spacing: 0.72px;
}

.offer_amount {
    color: var(--main-color);
}

.offer_timer_box {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.offer_timer {
    background-color: #2d2a25;
    width: 320px;
    padding: 15px 0;
    padding-left: 40px;
    margin-top: 30px;
    display: flex;
}

.days,
.hrs,
.min,
.sec {
    display: flex;
    flex-direction: column;
}

.offer_dot {
    padding-left: 22px;
}

.offer_time {
    color: #fff;
    font-size: 18px;
}

.offer_call {
    color: #777777;
    display: inline-block;
    line-height: 24px;
    width: 70px;
    padding-top: 4px;
    font-size: 12px;
}

/* category */
.category {
    min-width: 1400px;
    padding: 70px 12px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.category_product_box {
    width: 304px;
    border: 1px solid #dddada;
    padding: 40px 0;
    margin: 0 auto;
    position: relative;
}


.category_title {
    padding: 25px 0;
    color: #2d2a25;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
}

.category_list {
    list-style: none;
}

.category_item {
    margin-top: 5px;
}

.category_item_link {
    color: #948e8c;
    transition: 0.5s ease;
}

.category_item_link:hover {
    color: var(--main-color);
    transition: 0.5s ease;
}

.category_link {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 700;
    color: #000000;
    padding: 13px 29px;
    margin-top: 20px;
    font-size: 14px;
    border: 2px solid var(--main-color);
    transition: 0.3s ease-in-out;
}

.category_link:hover {

    color: #fff;
    background-color: var(--main-color);
    transition: 0.3s ease-in-out;
}

.category_product_box:hover {
    border-color: var(--main-color);
    transition: all 0.5s ease;
}


/* trending_products part1*/

.trending_container {
    display: flex;
    flex-wrap: wrap;
    transition: opacity 0.15s linear;
}

.new_arrival ,
.on_sale ,
.best_sellers{
    display: none;
}

.selected_container{
    display: block;
    transition: opacity 0.15s linear;
}

.trending_products_part1 {
    background-color: rgb(250, 234, 232);
    padding: 70px 50px 5px;
    position: relative;
}

.trending_product {
    margin: 0px 12px 30px;
    margin-bottom: 140px;
}

.trending_list_box {
    margin-bottom: 30px;
    text-align: center;
}

.title_h2 {
    text-align: center;
    font-size: 36px;
    color: #222222;
    text-transform: uppercase;
    position: relative;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0.72px;
    padding-bottom: 25px;
    margin-bottom: 0;
    margin-top: -5px;
}

.page_line {
    position: relative;
    width: 180px;
    height: 1px;
    background-color: var(--main-color);
    bottom: 0;
    top: 0;
    margin: 0 auto;
    margin-bottom: 55px;
}

.page_line::before,
.page_line::after,
.page_line_span::after,
.page_line_span::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: var(--main-color);
    top: -4px;
}

.page_line::before {
    left: 64px;
}

.page_line::after {
    left: 78px;
}

.page_line_span::before {
    right: 64px;
}

.page_line_span::after {
    right: 78px;
}


.trending_list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.trending_list_item {
    padding: 0 25px;
}

.selected {
    color: var(--main-color) !important;
}

.trending_list_link {
    color: #2d2a25;
    text-transform: uppercase;
    font-size: 18px;
}

.trending_new,
.special_new {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    background-color: var(--main-color);
    color: #fff;
    border-radius: 100%;
    padding: 11px 4px;
    position: absolute;
    top: 7px;
    left: 7px;
    text-align: center;
}

.trending_on_sale,
.special_on_sale {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1.4px;
    color: #212529;
    position: absolute;
    top: 7px;
    right: 7px;
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
}

.trending_product_box,
.special_product_box {
    width: 315px;
    height: 340px;
}

.trending_img_box,
.trending_img_box_part2 {

    position: relative;
    overflow: hidden;
}

.trending_img {
    max-width: 100%;
    height: auto;
}

.trending_icons {
    text-align: left;
    bottom: 0;
    left: unset;
    position: absolute;
    right: -10px;
    margin: 0 auto;
    display: inline-block;
    opacity: 0;
    transition: all 0.5s ease;

}

.trending_icons_link,
.special_icons_link {
    transition: 0.5s ease;
    text-decoration: none;
    position: relative;
}

.shopping {
    padding: 10px;
    display: block;
    color: #6f6f6f;
    font-size: 18px;
    transition: all 0.5s ease;
    position: relative;
}

.shopping:hover {
    color: var(--main-color);
    transition: all 0.5s ease;
}

.trending_product_box:hover .trending_icons {
    opacity: 1;
    transition: all 0.5s ease;
    right: 0px;
    animation: icons;

    .heart {
        animation: icons 500ms ease-in-out;
    }

    .magnifying {
        animation: icons 700ms ease-in-out;
    }

    .refresh {
        animation: icons 1000ms ease-in-out;
    }
}


@keyframes icons {
    from {
        right: -50px;
    }

    to {
        right: 0px;
    }
}


.trending_detail,
.special_detail {
    display: block;
}

.stars {
    display: flex;
    font-size: 18px;
    color: #edb867;
}

.trending_name,
.special_name {
    color: #777777;
    font-size: 16px;
    margin-bottom: 5px;
    padding-bottom: 5px;
    font-weight: 400;
}

.trending_discounted_price,
.special_discounted_price {
    color: #222222;
    font-size: 18px;
    font-weight: 700;
}

.trending_price,
.special_price {
    color: #aaa;
    font-size: 14px;
    font-weight: 400;
}

.trending_color_list,
.trending_color_list_part2,
.special_color_list {
    padding-top: 12px;
    padding-left: 0;
}

.trending_color,
.special_color {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    display: inline-block;
    cursor: pointer;
    margin-right: 5px;
}

.silver {
    background-color: silver;
}

.sienna {
    background-color: sienna;
}

.navy {
    background-color: navy;
}

.bisque {
    background-color: bisque;
}

.chocolate {
    background-color: chocolate;
}

.steelblue {
    background-color: steelblue;
}

.wheat {
    background-color: wheat;
}

.palegoldenrod {
    background-color: palegoldenrod;
}

.dimgrey{
    background-color: dimgrey;
}

.black{
    background-color: black;
}

/* trending_products_part2 */

.trending_products_part2 {
    padding: 70px 50px 5px;
    position: relative;
}

.trending_product_part2,
.special_product {
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 140px;
}

.trending_container_part2 {
    text-align: center;
    width: 344px;
    display: flex;
    align-items: center;
}

.trending_icons_part2,
.special_icons {
    background-color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 30px;
    padding: 3px 8px;
    display: flex;
    width: max-content;
    border-radius: 50px;
    box-shadow: 0 0 12px 0 #dddddd;
    margin: 0 auto;
    opacity: 0;
    transition: all 0.2s ease;
}


.trending_product_part2:hover .trending_icons_part2,
.special_product:hover .special_icons {
    opacity: 1;
    transition: all 0.2s ease;
    animation: icons_part2 400ms ease-in-out;
}

@keyframes icons_part2 {
    from {
        bottom: 0px;
    }

    to {
        bottom: 30px;
    }
}

.stars_part2 {
    justify-content: center;
}


/* banner */

.banner_container {
    display: flex;
    justify-content: flex-start;
    padding-top: 70px;
    max-width: 1400px;
    position: relative;
    margin: 0 auto;
}

.banner_item {
    padding-left: 12px;
    padding-right: 12px;
    position: relative;
    overflow: hidden;
}

.banner_box {
    width: 442px;
    height: 204px;
    position: relative;
    overflow: hidden;
}

.banner_image {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    transition: all 0.5s ease;
}

.banner_item:hover .banner_image {
    transform: scale(1.05);
    transition: all 0.5s ease;
}

.banner_flex {

    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
}

.banner_info_subtitle,
.banner_info_title {

    color: #ffffff;
    font-weight: 700;
    letter-spacing: 1.8px;
    text-transform: uppercase;
}

.banner_info_subtitle {
    font-size: 18px;
}

.banner_info_title {
    font-size: 36px;
    margin-top: 5px;
}

/* special_products */

.special_products {
    padding-top: 70px;
    margin: 0 auto;
    padding-left: 12px;
    padding-right: 12px;
}


.special_container {
    display: flex;
}

.special_box {
    display: flex;
    flex-direction: column;
}

.special_item {
    display: flex;
    padding-left: 12px;
    padding-right: 12px;
}

.special_image {
    height: 300px;
    transform: scale(1);
    transition: all 0.5s ease;
    padding: 15px 15px 15px 0;
}

.special_detail {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.special_item:hover .special_image {
    transform: scale(1.03);
    transition: all 0.5s ease;
}

.border_item2 {
    border-top: 1px solid #f1f5f4;
}

.special_box,
.special_box_ceneter {
    width: 33%;
}

.special_box_ceneter {
    border-left: 1px solid #f1f5f4;
    border-right: 1px solid #f1f5f4;
}

.special_img_box {
    position: relative;
}

.special_product_box {
    width: 441px;
}

.special_img {
    width: 100%;
    padding: 15px;
}

.special_detail_part2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* recent_story */

.recent_story {
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: #f1f5f4;
}

.recent_container {
    max-width: 1400px;
    padding-left: 12px;
    padding-right: 12px;
    margin: 0 auto;

}

.recent_story_box {
    display: flex;
}

.recent_detail {
    padding-left: 12px;
    padding-right: 12px;
    width: 458.667px;

}


.recent_img {
    width: 100%;
    height: auto;
}

.recent_info {
    text-align: center;

}

.recent_h4,
.recent_text {
    font-size: 18px;
    letter-spacing: 0.54px;
}

.recent_h4 {
    line-height: 1;
    font-weight: 400;
    color: var(--main-color);
    margin-top: 25px;
}

.recent_text {
    font-weight: 700;
    text-transform: uppercase;
    color: #222222;
    line-height: 1.5;
    margin-top: 10px;
    transition: all 0.5s ease;
}

.recent_text:hover {
    color: var(--main-color);
    transition: all 0.5s ease;
}

.recent_line {
    width: 75px;
    height: 3px;
    background-color: var(--main-color);
    margin: 0 auto;
    margin-top: 13px;
    margin-bottom: 16px;
}

.recent_author {
    color: #777777;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1.4px;
    line-height: 14px;
}

.recent_img_box {
    position: relative;
    overflow: hidden;
}

.recent_effect {
    height: inherit;
}

.recent_img_box::before,
.recent_img_box::after {
    content: "";
    position: absolute;
    bottom: 100%;
    top: 0;
    width: 25%;
    opacity: 0;
    transition: all 0.3s steps(4);
    z-index: 1;
    background-color: var(--main-color);
}

.recent_img_box span::after,
.recent_img_box span::before {
    content: "";
    position: absolute;
    bottom: 100%;
    top: 0;
    width: 25%;
    opacity: 0;
    transition: all 0.3s steps(4);
    z-index: 1;
    background-color: var(--main-color);
}



.recent_img_box::before {
    transition-delay: 0s;
    left: 0;
}

.recent_img_box::after {
    left: 25%;
    transition-delay: 0.025s;
}

.recent_img_box span::before {
    left: 50%;
    transition-delay: 0.05s;
}

.recent_img_box span::after {
    left: 75%;
    transition-delay: 0.15s;
}

.recent_img_box:hover:before,
.recent_img_box:hover::after,
.recent_img_box:hover .recent_effect::after,
.recent_img_box:hover .recent_effect::before {
    bottom: 0;
    opacity: 0.5;
}

/* service */

.service {
    max-width: 1400px;
    padding-bottom: 70px;
    padding-top: 70px;
    margin: 0 auto;
}

.service_container {
    padding-top: 35px;
    padding-bottom: 35px;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    display: flex;
}

.sevrice_box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33%;
    padding: 23px 12px;
}

.service_svg {
    width: 60px;
    height: 60px;
    transition: all 0.5s ease;
    margin-right: 12px;
}

.sevrice_box:hover .service_svg {
    animation: service_effect 1000ms ease-in-out;
    transition: all 0.3s ease;
}

@keyframes service_effect {
    0% {
        transform: scaleX(1);
    }

    50% {
        transform: scale3d(1.05, 1.05, 1.05);
    }

    100% {
        transform: scaleX(1);
    }
}

.service_h4 {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    line-height: 1;
    transition: all 0.3s ease;
    margin-bottom: 8px;
}

.service_h4:hover {
    color: var(--main-color);
    transition: all 0.3s ease;
}

.service_text {
    font-size: 14px;
    color: #777777;
    letter-spacing: 0.42px;
    line-height: 24px;
}

.service_border {
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
}

