html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

ul{
    list-style-type: none;
}

.container {}

/* header top*/

.header {}

.header_top {
    color: rgb(153, 153, 153);
    background-color: #f8f8f8;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    padding: 18px 40px;
}

.header_list {
    /* list-style-type: none; */
    padding: 0;
}

.welcome,
.call {
    padding-right: 25px;
}

.header_list_item {
    padding-left: 25px;
}

.header_top_link {
    text-decoration: none;
    color: rgb(153, 153, 153);
    transition: all 0.5s ease 0s;
}

.compare:hover,
.wishlist:hover {
    color: rgb(228, 96, 74);
}

.header_top_left_contents {
    display: flex;
}

.header_top_right_contents {
    display: flex;
}

.my_account_hov {
    top: 50px;
    right: 0;
}

.item_hover {
    min-width: 160px;
    background-color: #fff;
    position: absolute;
    color: black;
    padding: 10px 20px;
    transform: translateY(30px);
    transition: all linear 0.3s;
    z-index: 10;
    text-align: left;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0 0 1px #ccc;
}

.login_hover,
.Logout_hover {
    margin: 10px;
    transition: all 0.5s ease 0s;
    cursor: pointer;
    font-size: 15px;
}

.login_hover:hover,
.Logout_hover:hover {
    color: rgb(228, 96, 74);
}

.header_dropdown:hover .item_hover {
    opacity: 1;
    transform: translateY(0px);
    visibility: visible;
}

.call::before {
    content: "\f095";
    font: var(--fa-font-solid);
    padding-right: 10px;
    font-size: 12px;
    color: rgb(228, 96, 74);
}

.my_account::after {
    content: "\f107";
    font: var(--fa-font-solid);
}

.compare::before {
    content: "\f074";
    padding-right: 6px;
    font: var(--fa-font-solid);
}

.wishlist::before {
    content: "\f004";
    padding-right: 6px;
    font: var(--fa-font-solid);
}

.my_account_link::before {
    content: "\f007";
    padding-right: 6px;
    font: var(--fa-font-solid);
}

/* header bottom*/

.header_bottom {
    display: flex;
    justify-content: space-between;
    padding: 0px 40px;

}

.header_bottom_left {
    display: flex;
}

.sidebar-bar {
    font-size: 24px;
    cursor: pointer;
    padding: 40px 45px 40px 0;
}

.logo {
    padding: 35px 0;
}

.header_bottom_right {
    display: flex;
}

.header_bottom_right_navbar {}

.navbar_list {
    display: flex;
}

.new {
    background-color: rgb(228, 96, 74);
    color: #fff;
    position: absolute;
    top: 24px;
    font-size: 9px;
    line-height: 11px;
    padding: 2px 7px;
}

.new::before {
    content: "";
    position: absolute;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid rgb(228, 96, 74);
    top: 15px;
    left: 5px;
}

.navbar_item {
    display: block;
    padding: 42px 38px 42px 0;
    color: #222222;
    font-weight: 400;
    line-height: 23px;
    text-transform: uppercase;
    letter-spacing: 0.07em;
    cursor: pointer;
    position: relative;
}

.submenu {
    position: absolute;
    padding: 15px 0;
    width: 218px;
    z-index: 4;
    background-color: #fff;
}



.arrow {
    position: absolute;
    top: 76px;
    left: auto;
    width: 34px;
    height: 34px;
    margin-top: -26px;
    margin-left: -10px;
    text-align: center;
    font-size: 12px;
}

.arrow::before {
    content: "\f107";
    font: var(--fa-font-solid);
    position: absolute;
}

.header_bottom_dropdwon {
    opacity: 0;
    text-transform: none;
    box-shadow: 0 0 1px #ccc;
    padding: 15px 0;
}

.navbar_item:hover .header_bottom_dropdwon {
    opacity: 1;
    margin-top: 45px;
    z-index: 90;
}



.list_hov_item {
    position: relative;
    font-size: 14;
}


.list_hov_link {
    text-decoration: none;
    color: #222222;
    font-size: 14px;
    font-weight: 400;
    line-height: 2.3;
    padding: 5px 35px;
}

.list_hov_link::before {
    content: "";
    position: absolute;
    bottom: 0;
    background-color: rgb(228, 96, 74);
    transition: 0.5s ease;
    height: 2px;
    width: 0;
    top: 20px;
}

.list_hov_link:hover::before {
    width: 50px;
}

.angle_right {
    position: absolute;
    top: 50%;
    margin-top: -17px;
    left: auto;
    right: 15px;
    text-align: center;
}

.sub_submenu {

    position: absolute;
    right: -200px;
    top: -40px;
    opacity: 0;
    visibility: hidden;
}

.submenu_item_hov:hover .sub_submenu {
    opacity: 1;
    visibility: visible;
    /* z-index: 80; */
}

.new_elem {
    color: rgb(228, 96, 74);
    text-transform: uppercase;
    font-size: 12px;
}

.submenu_title {
    padding: 5px 35px;
    cursor: auto;
}

/* .features{
    position: unset;
}

.features_link{
    position: relative; 
} */

.features_container {
    display: flex;
    flex-wrap: wrap;

}

.col1,
.col2 {
    width: 20%;
    margin-left: 50px;
    height: 300px;
}

.header_bottom_right_icon {}

.icon_list {
    display: flex;
}

.icon_img {
    cursor: pointer;
}

.setting {
    right: 0;
    left: unset;
    top: 150px;
    z-index: 9;
}

.icon_item {
    padding: 40px 0 40px 20px;
}

.currency_link,
.language_link {
    display: flex;
    padding: 5px 0 0 17px;
}

.currency_link,
.language_link,
a {
    text-decoration: none;
    color: #222222;
}

.counter {
    color: #fff;
    background-color: rgb(228, 96, 74);
    width: 20px;
    height: 20px;
    font-size: 12px;
    font-weight: 600;
    position: absolute;
    top: 70px;
    right: 29px;
    border-radius: 100%;
    text-align: center;
    line-height: 20px;
}

.cart_hov {
    right: 0;
}

.cart_message {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.8px;
    font-weight: 400;
    color: #222222;
}

/* slider */

.slider {
    background-image: url(../images/9.jpg);
    width: 100%;
    height: 75vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    padding: 35px;
}

.slider_contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slider_subtitile,
.slider_title,
.slider_btn {
    text-align: center;

    font-weight: 700;
}

.slider_subtitile {
    color: #777777;
    letter-spacing: 7px;
    font-size: 18px;
}

.slider_title {
    color: #222222;
    font-size: 60px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin-top: 10px;
}

.slider_btn,
.footer_btn{
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    background-image: linear-gradient(30deg, rgb(228, 96, 74) 50%,
            transparent 50%) !important;
    border: 2px solid rgb(228, 96, 74);
    padding: 13px 29px;
    background-size: 850px;
    background-repeat: no-repeat;
    background-position: 0;
    transition: all 300ms ease-in-out;
    margin-top: 20px;
    font-weight: 700;
    cursor: pointer;
    line-height: 20px;
    letter-spacing: 0.7px;
    font-family: 'Lato'
}

.slider_btn:hover,
.footer_btn:hover{
    color: #222222;
    background-color: #fff;
    background-position: 100%;
}

/* brans */

.brands {
    display: flex;
    padding: 15px;
}

.brand_img {
    margin: 0 auto;
    padding-top: 70px;
    filter: grayscale(100%);
    opacity: 0.5;
    transition: 0.5s ease;
    cursor: pointer;
}

.brand_img:hover {
    filter: grayscale(0);
    opacity: 1;
}

/* discount */
.offer {
    max-width: 1400px;
    padding: 0 12px;
    margin: 0 28px;
    padding-top: 70px;
}

.offer_container {
    background-image: url(../images/offer-banner-2.jpg);
    background-size: cover;
    height: 126px;
    display: flex;
}

.offer_title_box {
    width: 50%;
}

.offer_title {
    padding: 45px 0;
    text-align: center;
    color: #222222;
    font-size: 36px;
    text-transform: uppercase;
    letter-spacing: 0.72px;
}

.offer_amount {
    color: rgb(228, 96, 74);
}

.offer_timer_box {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.offer_timer {
    background-color: #2d2a25;
    width: 320px;
    padding: 15px 0;
    padding-left: 40px;
    margin-top: 30px;
    display: flex;
}

.days,
.hrs,
.min,
.sec {
    display: flex;
    flex-direction: column;
}

.offer_dot {
    padding-left: 22px;
}

.offer_time {
    color: #fff;
    font-size: 18px;
}

.offer_call {
    color: #777777;
    display: inline-block;
    line-height: 24px;
    width: 70px;
    padding-top: 4px;
    font-size: 12px;
}

/* category */
.category {
    min-width: 1400px;
    padding: 70px 12px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.category_product_box {
    width: 304px;
    border: 1px solid #dddada;
    padding: 40px 0;
    margin: 0 auto;
    position: relative;
}

.category_product {}

.category_img {}

.category_title {
    padding: 25px 0;
    color: #2d2a25;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
}

.category_list {
    list-style: none;
}

.category_item {
    margin-top: 5px;
}

.category_item_link {
    color: #948e8c;
    transition: 0.5s ease;
}

.category_item_link:hover {
    color: rgb(228, 96, 74);
    transition: 0.5s ease;
}

.category_link {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 700;
    color: #000000;
    padding: 13px 29px;
    margin-top: 20px;
    font-size: 14px;
    border: 2px solid rgb(228, 96, 74);
    transition: 0.3s ease-in-out;
}

.category_link:hover {

    color: #fff;
    background-color: rgb(228, 96, 74);
    transition: 0.3s ease-in-out;
}

.category_product_box:hover {
    border-color: rgb(228, 96, 74);
    transition: all 0.5s ease;
}


/* trending_products part1*/

.trending_container {
    display: flex;
    flex-wrap: wrap;
}

.trending_products_part1 {
    background-color: rgb(250, 234, 232);
    padding: 70px 50px 5px;
    position: relative;

}

.trending_product {
    margin: 0px 12px 30px;
    margin-bottom: 140px;
}

.trending_list_box {
    margin-bottom: 30px;
    text-align: center;
}

.title_h2 {
    text-align: center;
    font-size: 36px;
    color: #222222;
    text-transform: uppercase;
    position: relative;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0.72px;
    padding-bottom: 25px;
    margin-bottom: 0;
    margin-top: -5px;
}

.page_line {
    position: relative;
    width: 180px;
    height: 1px;
    background-color: rgb(228, 96, 74);
    bottom: 0;
    top: 0;
    margin: 0 auto;
    margin-bottom: 55px;
}

.page_line::before,
.page_line::after,
.page_line_span::after,
.page_line_span::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: rgb(228, 96, 74);
    top: -4px;
}

.page_line::before {
    left: 64px;
}

.page_line::after {
    left: 78px;
}

.page_line_span::before {
    right: 64px;
}

.page_line_span::after {
    right: 78px;
}


.trending_list {
    /* list-style-type: none; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.trending_list_item {
    padding: 0 25px;
}

.selected {
    color: rgb(228, 96, 74);
}

.trending_list_link {
    color: #2d2a25;
    text-transform: uppercase;
    font-size: 18px;
}

.trending_new,
.special_new {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    background-color: rgb(228, 96, 74);
    color: #fff;
    border-radius: 100%;
    padding: 11px 4px;
    position: absolute;
    top: 7px;
    left: 7px;
    text-align: center;
}

.trending_on_sale,
.special_on_sale {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1.4px;
    color: #212529;
    position: absolute;
    top: 7px;
    right: 7px;
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
}

.trending_product_box,
.special_product_box {
    width: 315px;
    height: 340px;
}

.trending_img_box,
.trending_img_box_part2 {

    position: relative;
    overflow: hidden;
}

.trending_img {
    max-width: 100%;
    height: auto;
}

.trending_icons {
    text-align: left;
    bottom: 0;
    left: unset;
    position: absolute;
    right: -10px;
    margin: 0 auto;
    display: inline-block;
    opacity: 0;
    transition: all 0.5s ease;

}

.trending_icons_link,
.special_icons_link {
    transition: 0.5s ease;
    text-decoration: none;
    position: relative;
}

.shopping {
    padding: 10px;
    display: block;
    color: #6f6f6f;
    font-size: 18px;
    transition: all 0.5s ease;
    position: relative;
}

.shopping:hover {
    color: rgb(228, 96, 74);
    transition: all 0.5s ease;
}

.trending_product_box:hover .trending_icons {
    opacity: 1;
    transition: all 0.5s ease;
    right: 0px;
    animation: icons;

    .heart {
        animation: icons 500ms ease-in-out;
    }

    .magnifying {
        animation: icons 700ms ease-in-out;
    }

    .refresh {
        animation: icons 1000ms ease-in-out;
    }
}


@keyframes icons {
    from {
        right: -50px;
    }

    to {
        right: 0px;
    }
}


.trending_detail,
.special_detail {
    display: block;
}

.stars {
    display: flex;
    font-size: 18px;
    color: #edb867;
}

.trending_name,
.special_name {
    color: #777777;
    font-size: 16px;
    margin-bottom: 5px;
    padding-bottom: 5px;
    font-weight: 400;
}

.trending_discounted_price,
.special_discounted_price {
    color: #222222;
    font-size: 18px;
    font-weight: 700;
}

.trending_price,
.special_price {
    color: #aaa;
    font-size: 14px;
    font-weight: 400;
}

.trending_color_list,
.trending_color_list_part2,
.special_color_list {
    padding-top: 12px;
    padding-left: 0;
    /* list-style-type: none; */
}

.trending_color,
.special_color {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    display: inline-block;
    cursor: pointer;
    margin-right: 5px;
}

.silver {
    background-color: silver;
}

.sienna {
    background-color: sienna;
}

.navy {
    background-color: navy;
}

.bisque {
    background-color: bisque;
}

.chocolate {
    background-color: chocolate;
}

.steelblue {
    background-color: steelblue;
}

.wheat {
    background-color: wheat;
}

.palegoldenrod {
    background-color: palegoldenrod;
}

/* trending_products_part2 */

.trending_products_part2 {
    padding: 70px 50px 5px;
    position: relative;
}

.trending_product_part2,
.special_product {
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 140px;
}

.trending_container_part2 {
    text-align: center;
    width: 344px;
    display: flex;
    align-items: center;
}

.trending_icons_part2,
.special_icons {
    background-color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 30px;
    padding: 3px 8px;
    display: flex;
    width: max-content;
    border-radius: 50px;
    box-shadow: 0 0 12px 0 #dddddd;
    margin: 0 auto;
    opacity: 0;
    transition: all 0.2s ease;
}


.trending_product_part2:hover .trending_icons_part2,
.special_product:hover .special_icons {
    opacity: 1;
    transition: all 0.2s ease;
    animation: icons_part2 400ms ease-in-out;
}

@keyframes icons_part2 {
    from {
        bottom: 0px;
    }

    to {
        bottom: 30px;
    }
}

.stars_part2 {
    justify-content: center;
}


/* banner */

.banner_container {
    display: flex;
    justify-content: flex-start;
    padding-top: 70px;
    max-width: 1400px;
    position: relative;
    margin: 0 auto;
}

.banner_item {
    padding-left: 12px;
    padding-right: 12px;
    position: relative;
    overflow: hidden;
}

.banner_box {
    width: 442px;
    height: 204px;
    position: relative;
}

.banner_image {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    transition: all 0.5s ease;
}

.banner_item:hover .banner_image {
    transform: scale(1.05);
    transition: all 0.5s ease;
}

.banner_flex {

    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
}

.banner_info_subtitle,
.banner_info_title {

    color: #ffffff;
    font-weight: 700;
    letter-spacing: 1.8px;
    text-transform: uppercase;
}

.banner_info_subtitle {
    font-size: 18px;
}

.banner_info_title {
    font-size: 36px;
    margin-top: 5px;
}

/* special_products */

.special_products {
    padding-top: 70px;
    margin: 0 auto;
    padding-left: 12px;
    padding-right: 12px;
}


.special_container {
    display: flex;
}

.special_box {
    display: flex;
    flex-direction: column;
}

.special_item {
    display: flex;
    padding-left: 12px;
    padding-right: 12px;
}

.special_image {
    height: 300px;
    transform: scale(1);
    transition: all 0.5s ease;
    padding: 15px 15px 15px 0;
}

.special_detail {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.special_item:hover .special_image {
    transform: scale(1.03);
    transition: all 0.5s ease;
}

.border_item2 {
    border-top: 1px solid #f1f5f4;
}

.special_box,
.special_box_ceneter {
    width: 33%;
}

.special_box_ceneter {
    border-left: 1px solid #f1f5f4;
    border-right: 1px solid #f1f5f4;
}

.special_img_box {
    position: relative;
}

.special_product_box {
    width: 441px;
}

.special_img {
    width: 100%;
    padding: 15px;
}

.special_detail_part2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* recent_story */

.recent_story {
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: #f1f5f4;
}

.recent_container {
    max-width: 1400px;
    padding-left: 12px;
    padding-right: 12px;
    margin: 0 auto;

}

.recent_story_box {
    display: flex;
}

.recent_detail {
    padding-left: 12px;
    padding-right: 12px;
    width: 458.667px;
}

.recent_img_box {
    position: relative;
    overflow: hidden;
}

.recent_img {
    width: 100%;
    height: auto;
}

.recent_info {
    text-align: center;

}

.recent_h4,
.recent_text {
    font-size: 18px;
    letter-spacing: 0.54px;
}

.recent_h4 {
    line-height: 1;
    font-weight: 400;
    color: rgb(228, 96, 74);
    margin-top: 25px;
}

.recent_text {
    font-weight: 700;
    text-transform: uppercase;
    color: #222222;
    line-height: 1.5;
    margin-top: 10px;
    transition: all 0.5s ease;
}

.recent_text:hover {
    color: rgb(228, 96, 74);
    transition: all 0.5s ease;
}

.recent_line {
    width: 75px;
    height: 3px;
    background-color: rgb(228, 96, 74);
    margin: 0 auto;
    margin-top: 13px;
    margin-bottom: 16px;
}

.recent_author {
    color: #777777;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1.4px;
    line-height: 14px;
}

/* service */

.service {
    max-width: 1400px;
    padding-bottom: 70px;
    padding-top: 70px;
    margin: 0 auto;
}

.service_container {
    padding-top: 35px;
    padding-bottom: 35px;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    display: flex;
}

.sevrice_box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33%;
    padding: 23px 12px;
}

.service_svg {
    width: 60px;
    height: 60px;
    transition: all 0.5s ease;
    margin-right: 12px;
}

.sevrice_box:hover .service_svg {
    animation: service_effect 1000ms ease-in-out;
    transition: all 0.3s ease;
}

@keyframes service_effect {
    0% {
        transform: scaleX(1);
    }

    50% {
        transform: scale3d(1.05, 1.05, 1.05);
    }
    100%{
        transform: scaleX(1); 
    }
}

.service_h4 {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    line-height: 1;
    transition: all 0.3s ease;
    margin-bottom: 8px;
}

.service_h4:hover {
    color: rgb(228, 96, 74);
    transition: all 0.3s ease;
}

.service_text {
    font-size: 14px;
    color: #777777;
    letter-spacing: 0.42px;
    line-height: 24px;
}

.service_border {
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
}


/* footer */
.footer{
    position: relative;
}

.footer_container{
    
    background-color: #F9F9F9;
}

.footer_top{
    max-width: 1400px;
    padding: 35px 12px;
    margin: 0 auto;
    border-bottom: 1px solid #dddddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_top_left{
    height: 100%;
    width: 50%;
    border-right: 1px solid #dddddd;
}

.footer_top_title{
    color: #222222;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
    letter-spacing: 0.54px;
}

.footer_top_text{
    color: #777777;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.42px;
}

.footer_input{
    width: 345px;
    height: 50px;
    padding: 13px;
    margin: 0 16px;
    border: 1px solid #eeeeee;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    outline: none;
}

.footer_bottom{
    max-width: 1400px;
    padding: 70px 12px;
    margin: 0 auto;
    display: flex;
}

.footer_bottom_container{
    padding: 0px 12px;
}

.footer_bottom_left{
    width: 33%;
}

.footer_bottom_logo{
    margin-bottom: 18px;
}

.footer_bottom_text{
    color: #777777;
    font-size: 14px;
    letter-spacing: 0.42px;
    line-height: 32px;
}

.footer_bottom_icon{
    margin-top: 40px;
}

.footer_bottom_icon_list{
    display: flex;
    align-items: center;
}

.footer_bottom_icon_item{
    padding-right: 45px;
}

.footer_bottom_i{
    color: #000000;
    font-size: 20px;
    transition: 0.5s ease;
}

.footer_bottom_i:hover{
    color: rgb(228, 96, 74);
    transition: 0.5s ease;
}

.footer_bottom_center{
    padding-right: 12px;
    padding-left: 12px;
    width: 22%;
}

.footer_margin{
    margin-left: 8.33333333%;
    
}

.footer_bottom_center_title{
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
    letter-spacing: 0.54px;
    margin-bottom: 25px;
}

.footer_bottom_center_h4{
    color: #222222;
}

.footer_bottom_center_item{
    padding-top: 13px;
    font-size: 14px;
    line-height: 21px;
    text-transform: capitalize;
    color: #777777;
    line-height: 28px;
}

.footer_bottom_center_link{
    color: #777777;
    padding: 0;
    position: relative;
}

.list_hov_link:hover::before{
    width: 100%;
}

.footer_bootom_item_left{
    padding-left: 25px;
    padding-top: 13px;
    position: relative;
}

.footer_bootom_item_left:hover{
    color: #999999;
    transition: all 0.3s ease;
}

.footer_bottom_center_i{
    position: absolute;
    left: 0;
    top: 21px;
}

.sub_footer{
    max-width: 1400px;
    padding-right: 12px;
    padding-left: 12px;
    margin: 0 auto;
}

.sub_footer_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sub_footer_text{
    color: #777777;
    padding: 20px 0;
    font-size: 14px;
    line-height: 32px;
    letter-spacing: 0.42px;
}

.sub_footer_icon_list{
    display: flex;
}

.sub_footer_icon{
    padding-left: 7px;
    padding-right: 7px;
}

